target/


*.log
*.tmp
hs_err_pid*
!src/main/resources/*.log   # if you do want logs in resources


.idea/
*.iml
*.iws
out/


.project
.settings/
.classpath


.vscode/


.DS_Store
Thumbs.db


*.swp
*.swo
*.bak
~$*
*~


docker-compose.override.yml


**/build/
**/docker-out/
